@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../images/space.png");
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
    overflow: hidden;
    color: white;
    min-height: 100vh;
}

/* Main Help */
.main-help {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background: rgba(71, 5, 5, 0.6);
    width: 100%;
    height: 100%;
}

.help-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    max-width: 55rem;
    min-height: 40rem;
    background: #000;
    border: 0.2rem solid #fff;
    padding: 2rem;
}

.help-container>* {
    margin: 1rem;
    padding: 1rem;
}

.close-help {
    width: 100%;
    text-align: right;
}

.close-help span {
    margin: 0;
    padding: 1rem;
    background: crimson;
    border-radius: 0.5rem;
    cursor: pointer;
}

/*** Title ***/


.title {
    background-color: black;
    display: inline-block;
    padding-top: 1rem;
}

/* Incompatible device */
.display-invalid {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem;
    max-width: 55rem;
    min-height: 40rem;
    background: rgba(71, 5, 5, 0.6);
    border: 0.2rem solid #fff;
    padding: 2rem;
}

.display-invalid div {
    padding: 2rem 0;
}

.display-invalid span {
    font-size: 9rem;
}

/*** Container ***/

.container {
    display: flex;
    justify-content: space-evenly;
}


/*** Game ***/


#board {
    position: relative;
    width: 50rem;
    height: 50rem;
    margin: 4rem auto;
    border: 0.2rem solid white;
    background-color: black;
    overflow: hidden;
}

#jet {
    position: absolute;
    width: 4rem;
    height: 4rem;
    background: url("../images/ship.png");
    background-size: contain;
    background-repeat: no-repeat;
    left: 50%;
    bottom: 0;
}

.bullets {
    position: absolute;
    bottom: 2.5rem;
    left: 51%;
    width: 3rem;
    height: 4rem;
    background: url("../images/bullets.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.rocks {
    position: absolute;
    top: 0;
    width: 5rem;
    height: 5rem;
    background: url("../images/alien.png");
    background-size: contain;
    background-repeat: no-repeat;
}


/*** Game Over ***/


#gameOver {
    background-color: black;
    z-index: 1;
    text-align: center;
    position: absolute;
    display: none;
}

#gameOver span {
    font-size: 1.8rem;
}

#restart {
    border: solid white;
    padding: 1rem;
    cursor: pointer;
}

#restart:hover {
    background-color: #fff;
    color: #000;
}

p {
    margin: 10rem;
}


/*** Points and Help ***/


.points {
    display: flex;
    justify-content: space-between;
}

.points-box,
.help {
    color: rgb(255, 255, 255);
    padding: 1rem;
    background: rgba(0, 0, 0, 0.589);
    border-radius: 0 0 0.5rem 0.5rem;
    font-size: 4rem;
    z-index: 2;
}

.help a {
    color: inherit;
    text-decoration: none;
}

.help a:hover {
    color: yellow;
}


/*** Controls Menu ***/

.menu {
    display: none;
}


.controls-painel {
    margin: 10rem 0;
    border: solid white;
    padding-bottom: 0.5rem;
    background-color: black;
}

.controls-painel>* {
    margin: 2.5rem;
}

.space-bar {
    border: solid white;
    padding: 3px 2rem;
}

.arrow-left {
    border: solid white;
    padding: 0 0.5rem 0.5rem 0.5rem;
    margin-right: 1.5rem;
}

.arrow-right {
    border: solid white;
    padding: 0 0.5rem 0.5rem 0.5rem;
}

/*** Media Query ***/

@media (max-width: 800px) {
    .menu {
        display: block;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    #board {
        margin: 2rem auto;
    }


    .controls-painel {
        margin: 0 10rem;
    }
}

@media (max-width:500px) {
    #board {
        width: 98vw;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (max-width:349px) {
    .container {
        display: none;
    }

    .display-invalid {
        display: flex;
    }
}